{% extends 'base.html' %}
{% block title %}
About us
{% endblock %}
{% block body %}
<nav>
    <ol id="nav_list">
        <li>
            <div><a href="/main_page">Main page</a></div>
        </li>
        <li>
            <div><u><a href="/about_us_page">About us</a></u></div>
        </li>
        <li>
            <div><a href="/other_products_page">Other products</a></div>
        </li>
    </ol>
</nav>
<div id="main_container">
    <div id="about_text_container">
        <h2 id="about_us_label">About us</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero orci, fermentum sit amet ante rhoncus, convallis varius ex. Sed vestibulum elementum est, eget vulputate tortor cursus at. Duis urna magna, venenatis quis feugiat eu, luctus ut turpis. Duis eleifend faucibus nulla, non imperdiet augue feugiat ac. Duis vehicula lectus vitae mi blandit sollicitudin. 
        </p>
        <p>
            Maecenas at justo suscipit, dapibus leo ut, tempus metus. Fusce metus justo, consectetur non magna sed, ornare gravida turpis. Pellentesque aliquam quam eget maximus accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eget nunc magna. Etiam eget ex vitae odio rutrum ullamcorper. 
        </p>
        <p>
            Suspendisse vehicula, tortor quis sollicitudin malesuada, felis urna condimentum erat, eget accumsan lectus orci sollicitudin turpis. Morbi rhoncus, metus id eleifend molestie, nunc eros vestibulum orci, non cursus ante risus aliquam nibh. Aliquam iaculis, orci at fermentum tempor, odio lorem pellentesque purus, sed porta tellus est non nibh. Mauris ut tristique ipsum, sit amet suscipit lacus.
        </p>
    </div>
</div>
{% endblock %}